@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="fupApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Libraries/bootstrap.css" rel="stylesheet" />
    <link href="~/Libraries/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/SiteNew.css" rel="stylesheet" />
    <script src="~/Libraries/angular.js"></script>
    <script src="~/Scripts/MyScripts/ModelSelection.js"></script>
    <title>Сhoice</title>

</head>
<body ng-controller="fupController">
    <div>
        <div class="container" style="width:73.7321%;">
            <div class="page-header">
                <h2 class="qwer">Вибір моделі автобуса</h2>
            </div>
            <p class="img-rounded">Виберіть вже існуючу модель автобуса</p>
            <div class="panel">
                <div class="input-group">
                    <form>
                        @Html.DropDownList("ModelOfBus", null, String.Empty, new { @class = "btn btn-default dropdown-toggle", @id = "ddl" })
                        <input type="submit" value="Enter" class="btn btn-default" ng-click="SeatsLoad()">
                        <span>
                            <input type="submit" value="Delete" class="btn btn-default" ng-click="Delete()">
                        </span>
                    </form>
                    <br />
                    <span>Або @Html.ActionLink("Створіть нову модель", "/Index")</span>
                    <br />
                    <form>
                        <div class="panel">
                            <div class="panel panel-default">
                                <img src="~/Images/Bus.png" class="img-rounded" id="bus" style="max-width:100%; height:auto;" />
                                <div ng-repeat="n in seats" on-finish-render>
                                    <img src="~/Images/Seat.png" class="draggable" id={{$index+1}} style="position:fixed" />
                                    <div class="imgtext" id={{$index+1+"a"}} style="position:fixed">
                                        <h6>{{n.SeatNumber}}</h6>
                                        <input id={{$index+1+"t"}} hidden value="{{n.Top}}" />
                                        <input id={{$index+1+"l"}} hidden value="{{n.Left}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
