@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="fupApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Libraries/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Libraries/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/SiteNew.css" rel="stylesheet" />
    <script src="~/Libraries/angular.js"></script>
    <script src="~/Scripts/MyScripts/ForModels.js"></script>
    <title>Models</title>
</head>
<body ng-controller="fupController">
    <div class="container" style="width:73.7321%;">
        @*1000/1366*@
        <div class="page-header">
            <h2 class="qwer">Вибір моделі</h2>
        </div>
        <form>
            @Html.DropDownList("ModelOfBus", null, String.Empty, new { @class = "btn btn-default dropdown-toggle", @id = "ddl" })
            @Html.Hidden("BM", null, new { @id = "busmodel" })
            <input type="submit" value="Enter" class="btn btn-default" ng-click="ModelLoad()">
            <span>
                <input type="submit" value="Delete" class="btn btn-default" ng-click="Delete()">
            </span>
        </form>
        <br />
        <span>Або @Html.ActionLink("Створіть нову модель", "/Edit")</span>
        <br />
        <form>
            <div class="panel">
                <div class="panel panel-default a">
                    <div class="Azone">
                        <img src="~/Images/Azone.png" id="zoneA" style="max-width:100%; height:auto" />
                    </div>
                    <div class="Bzone">
                        <img src="~/Images/Bzone.png" id="zoneB" style="max-width:100%; height:auto" />
                    </div>
                    <div class="Czone" style="width:62.1%; max-width:100%; height:auto;">
                        <div id="fixedbc" style="max-width:100%; height:auto;">
                            <table class="table table-bordered" id="seatstable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
